
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar 
    [style.--background]="'url(\'../../../../assets/imgs/' + job?.image + '\') no-repeat center center/cover'">
    <ion-buttons slot="start">
      <ion-thumbnail class="menu">
        <ion-back-button mode="md" defaultHref="/tab/home"></ion-back-button>
      </ion-thumbnail>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-list lines="none">
    <ion-item>
      <ion-label>
        {{job?.post}}
        <p>
          {{job?.salary}}
          <ion-chip>
            {{job?.type}}
          </ion-chip>
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'assets/imgs/' + job?.logo_light" alt="">
      </ion-thumbnail>
      <ion-label class="company">
        {{job?.company}}
        <p>
          <ion-text color="medium">
            {{job?.location}}
          </ion-text>
        </p>
      </ion-label>
      <ion-text slot="end">
        4 days Left
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-segment [value]="segment_value" (ionChange)="changeSegment($event)">
      <ion-segment-button value="description">Description</ion-segment-button>
      <ion-segment-button value="company">Company</ion-segment-button>
      <ion-segment-button value="reviews">Reviews</ion-segment-button>
    </ion-segment>
  </ion-row>

  @if (segment_value == 'description') {
    <ion-row class="ion-margin-button desc">
      <ion-col size="12">
        <ion-label>Qualificatioins</ion-label>
      </ion-col>
      @if (job?.description?.length > 0) {
        <ul>
          @for (desc of job.description; track $index) {
            <li>
              <ion-text color="medium">{{desc}}</ion-text>
            </li>
          }
        </ul>
      }
    </ion-row>

    <ion-row class="ion-margin-button desc">
      <ion-col size="12">
        <ion-label>About the Job</ion-label>
      </ion-col>
      @if (job?.description?.length > 0) {
        <ul>
          @for (desc of job.description; track $index) {
            <li>
              <ion-text color="medium">{{desc}}</ion-text>
            </li>
          }
        </ul>
      }
    </ion-row>
  } 

  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col size="2">
          <ion-button color="light" (click)="toggleBookmark()">
            <ion-icon [name]="bookmark ? 'bookmark' : 'bookmark-outline'"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="10">
          <ion-button expand="block">
            <ion-text color="light">Apply Now</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>


</ion-content>
 